:root {
	--silvershadow: rgba( 192, 192, 192, 0.4 );
	--gold-shadow: rgba( 255, 215, 0, 0.4 );
}

html, body {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

h1 {
	min-height: 10%;
	height: 10vh;
	margin: 0;
}

.container {
	display: flex;
	/*float: left;*/


	padding: 0;
	

	/*flex-direction: row;
	flex-wrap: wrap;*/
	flex-flow: row wrap;


	align-items: stretch;
	justify-content: center;


	/*background-color: magenta;*/

	/*min-width: 800px;
	max-width: 1000px;*/
	margin: auto; 
	/*max-height: 90vh;*/
	/*overflow-y: auto;*/
	/*overflow-x: hidden;*/

	box-shadow: 0px -8px 8px 0 rgba(0, 0, 0, 0.4);
}


.banner {
	width: 100%;
	height: 50vw;
	max-height: 30vh;

	margin: 0;

	/* Image is 1436 x 718 */
	background-image: url( "/banner.png" );
	background-size: cover;
}

.banner-logo {
	/*width: 95%;*/
	height: 95%;

	margin: auto;

	background-image: url( "/banner_logo.png" );
	background-size: contain;
}

.banner, .banner-logo {
	background-position: center center;
	background-repeat: no-repeat;	

	overflow-x: hidden;

	padding: 0;

	transition: all 0.2s ease-in-out;
}

.banner-logo:hover {
	transform: scale( 1.1 );
}

.banner:hover {
}


.item, .sponsored-item {
	flex-grow: 1;
	flex-shrink: 0;

	position: relative;

	/*width: 45%;
	max-width: 42%;*/

	/*height: 15vh;
	min-height: 20vh;
	max-height: 25vw;*/

	/*margin: 2%;*/

	transition: 0.2s;

	/*align-items: stretch;*/
	/*overflow-y: auto;*/

	border-radius: 20px;

	color: white;

	font-weight: bold;

	/*filter: grayscale();*/
	/*background-image: url( "https://ieeeunt.tk/ntsas21_hubs/media/blur_test.png" );*/
	background-image: url( "https://ieeeunt.tk/ntsas21_hubs/media/default.png" );
	background-size: cover;
	background-position: center;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba( 0, 0, 0, 0.38);
	/*box-shadow: 0 4px 8px 0 var(--silvershadow), 0 6px 20px 0 var(--silvershadow);*/
	/*box-shadow: 0 4px 8px 0 var(--gold-shadow), 0 6px 20px 0 var(--gold-shadow);*/
}

.sponsored-item {
	flex-grow: 2;
	flex-shrink: 0;

	/*width: 84%;
	max-width: 90%;*/

	height: 30vh;
	min-height: 30vh;
	max-height: 50vw;

	/*align-items: stretch;*/
	/*overflow-y: auto;*/

	box-shadow: 0 4px 8px 0 rgba(255, 215, 0, 0.4), 0 6px 20px 0 rgba(255, 215, 0, 0.38);
}

.item:hover, .sponsored-item:hover {
	transform: scale( 1.025 );
}

.roomInfo {
	display: block;

	width: 100%;
	height: 100%;

	/*padding: 2.5%;*/

	position: absolute;
	top: 0;
	left: 0;

	/*filter: drop-shadow( 0 0 0.75rem crimson );*/
	z-index: 5;
}

.roomBG {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 10;
}

.roomBG a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}


.side-panel {
	float: left;

	width: 25%;
	min-height: 90vh;
	height: 90vh;

	/*background-color: magenta;*/
}


.users, .users-full {
	display: inline-block;
	/*float: right;*/

	background-color: white;
	color: black;

	padding: 5px 10px 5px 10px;
	margin-left: 10px;

	border-radius: 20px;
}

.users-full {
	color: red;
}

.room-full {
	position: absolute;
	top: 0;
	left: -2px;
	transform: translateY( 50% );

	width: calc( 100% + 4px );
	height: 100%;
	padding: 0;
	margin: 0;

	/*background-color: red;*/
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba( 0, 0, 0, 0.38);	*/
	border-radius: 5px;
}

.room-full span {
	display: block;

	color: white;

	background-color: red;
	
	text-align: center;
	text-shadow: 2px 2px 4px #000000;

	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba( 0, 0, 0, 0.38);	
}


.name {
	display: block;

	margin-top: 5px;

	text-align: center;
	/*text-shadow: 2px 2px 4px #000000;*/
	text-shadow: 	0 0 8px #000000,
					0 0 8px #000000,
					0 0 8px #000000;

}


@media (max-width: 800px) {
	.container {
		/*width: 90vw;*/
		/*width: 700px;*/
		width: 100%;
	}


	.item, .sponsored-item {
		/*width: 84vw;*/
		max-width: 588;
		width: 588;

		max-height: 294;
		height: 294;
		/*height: 42vw;*/

		margin: 2%;
	}


	.users, .users-full {
		margin-top: 210px;
	}
}

@media (min-width: 801px) {
	.container {
		/*width: 800px;*/
		width: 100%;
	}

	.item {
		min-width: 360px;
		max-width: 360px;
		width: 360px;

		min-height: 180px;
		max-height: 180px;
		height: 180px;

		margin: 1%;
	}

	.sponsored-item {
		/*width: 672;
		height: 336;*/
		width: 336;
		height: 168;
	}


	.users, .users-full {
		margin-top: 100px;
	}
}
